.login-container {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    height: 60vh;
    background-color: #f5f5f5;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 60vh;
    margin:20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #218838;
}
.login-container button{
    height: 50px;
}
.login-container h1{
    margin-bottom: 20px;
    text-align: center;
}

.login-container p {
    margin-top: 20px;
    text-align: center;
}

.login-container Link {
    color: #28a745;
    text-decoration: none;
}

.login-container Link:hover {
    text-decoration: underline;
}
