.electronics-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align:center;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    height: 60vh;
    background-color: #f5f5f5;
}
.product-card{
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
    padding:20px;
}
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.product-card h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}
.product-card p {
    font-size: 14px;
    color: #666;
}
.product-card button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.product-card button:hover {
    background-color: #218838;
}
.add-to-cart{
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.add-to-cart:hover{
    background-color: #218838;
}
.product-price{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

